
    * { 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-style: normal;
      margin: 0;
       padding: 0; 
       box-sizing: border-box;
       
       /*footer section start  */
    }
    header {
      background: #363333;
      color: #fff;
      padding: 2rem 2rem;
      display: flex;
      justify-content: center;
      
    }
    nav {
        display: flex;
        gap: 4rem; 
      }

   nav a {
  color: #f0e6e6;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 20px;
 
  

}
.paragraph {
    padding: 2rem;
}


nav a:hover {
  color: #dbce71;
  text-decoration: underline;
  
}
 /* footer section end */

 /* about section start */

    section {
      padding: 2rem;
    }
    .about img {
      max-width: 300px;
      border-radius: 50%;

    
     
    }
    /* about section end */

    /* project section start */
    .projects {
    
      display: flex;
      gap: 2rem;
     
    }
    .project {
      height: auto;
      width: 500px;

        border: 0.7px solid #729066;
        padding: 1rem;
        display: flex;
       flex-direction: column;
      }
      
      a{
        
        text-decoration: none;
        font-size: 20px;
        
        color: blue;
        font-weight: 600;

      }
      a:hover{
        color: #dbce71;
        text-decoration: underline;
      }
      /* project section end */
      /* contact section start */
      

      
    form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
    }
    form input, form textarea {
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
    }
    form button {
      padding: 0.7rem;
      background: #333;
      color: #fff;
      border: none;
    }
    /* contact section end */
    /* footer section start */
    footer {
      font-size: 20px;
      width: 100%;
      margin-top: 3rem;
      height: 15vh;
      border-bottom: 1px solid black;
     

      background-color: #729066;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      
    }
    #copy-tag{
      padding-right:1rem ;
    }
    

    .social-icon{
     display: flex;
     align-items: center;
     gap: 1rem;
    
    }
    /* footer section end  */